#!/bin/bash

export LANG=fr_FR.UTF-8

export JAVA_HOME=/home/pgmillon/Applications/jdk1.8.0_45
export ANT_HOME=/home/pgmillon/Applications/apache-ant-1.7.1
export M2_HOME=/home/pgmillon/Applications/apache-maven-3.3.3
export M2=$M2_HOME/bin
export PLAY_HOME=/home/pgmillon/lib/play-2.0.1
export PEAR_HOME=/home/pgmillon/pear
export GRADLE_HOME=/home/pgmillon/Applications/gradle-1.2
export IVY_HOME=/home/pgmillon/Applications/apache-ivy-2.3.0
export RUBY_HOME=/home/pgmillon/.rvm/rubies/ruby-2.0.0-p451
export GEMS_HOME=/home/pgmillon/.rvm/gems/ruby-2.0.0-p451
export NODE_MODULES=/home/pgmillon/node_modules
export DOTFILER_PATH=/home/pgmillon/.dotfiles
export P1=/home/pgmillon/.pipes/out
export P2=/home/pgmillon/pipes/err

export EDITOR="/usr/bin/vim"
export VISUAL="/usr/bin/vim"

if [ -e /usr/share/terminfo/x/xterm-256color ]; then
  export TERM='xterm-256color'
else
  export TERM='xterm-color'
fi

export PATH=~/bin:$DOTFILER_PATH/bin:$GRADLE_HOME/bin:$PLAY_HOME:$PEAR_HOME/bin:$JAVA_HOME/bin:$M2:node_modules/.bin:$NODE_MODULES/.bin:$RUBY_HOME/bin:$GEMS_HOME/bin:$ANT_HOME/bin:$PATH
export LD_LIBRARY_PATH=/usr/lib:/usr/lib/i386-linux-gnu:$JAVA_HOME/jre/lib/i386:$LD_LIBRARY_PATH

export XDEBUG_CONFIG="idekey=netbeans-xdebug"

export PATH="$PATH:$HOME/.rvm/bin" # Add RVM to PATH for scripting
