[user]
  email = 715479+pgmillon@users.noreply.github.com
  name = Pierre-Gildas MILLON
  signingkey = CFB26FFB70763E3F
[alias]
  st = status -s
  dt = difftool
  ci = commit -m
  lg = log --graph --abbrev-commit --decorate --date=relative  --format=format:'%C(bold red)%h%C(reset) %C(bold green)%d%C(reset) %C(bold blue)%ai %C(reset) %C(yellow)%ar%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lga = log --graph --abbrev-commit --decorate --date=relative  --format=format:'%C(bold red)%h%C(reset) %C(bold green)%d%C(reset) %C(bold blue)%ai %C(reset) %C(yellow)%ar%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  logone = log --pretty=format:'%C(auto)%m %h %Cgreen%ad %C(blue)%<(20)%aN %Creset%s %N %C(auto)%d' --left-right --cherry-pick --date=short
  amend = commit --amend
  force-push = push -f
  id = show -s --pretty=format:'%C(auto)%h%d'
  pick = cherry-pick
[log]
  abbrevCommit = true
[merge]
  tool = meld
  renormalize = true
[mergetool]
  keepBackup = false
  prompt = false
[diff]
  tool = meld
[difftool]
  prompt = false
[http]
  sslVerify = false
[giggle]
  main-window-maximized = false
  main-window-geometry = 1333x759+321+116
  main-window-view = HistoryView
  file-view-vpane-position = 510
  history-view-vpane-position = 549
[core]
  autocrlf = input
  editor=vim
  excludesfile=~/.gitignore
  safecrlf = warn
  ignorecase = false
  whitespace = trailing-space,space-before-tab
[fetch]
  prune=true
[push]
  default=current
[pull]
  rebase=true
[apply]
  whitespace = fix
[rebase]
  autoStash = true
[commit]
  gpgsign = true
